<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ChristmasIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>ChristmasIcon</string>
			</dict>
			<key>DiwaliIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>DiwaliIcon</string>
			</dict>
			<key>EidIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>EidIcon</string>
			</dict>
			<key>HoliIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>HoliIcon</string>
			</dict>
			<key>IndependenceDayIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>IndependenceDayIcon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ChristmasIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>ChristmasIcon</string>
			</dict>
			<key>DiwaliIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>DiwaliIcon</string>
			</dict>
			<key>EidIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>EidIcon</string>
			</dict>
			<key>HoliIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>HoliIcon</string>
			</dict>
			<key>IndependenceDayIcon</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>IndependenceDayIcon</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
</dict>
</plist>
